@model ShowWholeStorageViewMoedel

@{
    ViewData["Title"] = "Whole Storage";
    int countComponents = 0;
    int countWare = 0;
    int countMaterials = 0;
    int countCreated = 0;
    int countBought = 0;
}

<h1 style="color: blue; text-align: center;">Whole Storage</h1><br>

<form asp-controller="Storage" asp-action="ShowWholeStorage" style="text-align: right">
   <div class="form-group">
        <b>Search:</b> <input type="text" name="search"/>
        <input type="submit" value="Search" />
        <br />
            
        <label asp-for="StorageSortingWholeStorageByCriteria"><b>SortingBy</b></label>
            <select asp-for="StorageSortingWholeStorageByCriteria">
                <option value="0" selected>ChooseCriteria</option>
                <option value="1">Name</option>
                <option value="2">TimeAscending</option>
                <option value="3">TimeDescending</option>
                <option value="4">QuantityAscending</option>
                <option value="5">QuantityDescending</option>
                <option value="6">PriceAscending</option>
                <option value="7">PriceDescending</option>

            </select>
   </div>
    <label name="StorageSortingByCity"><b>Sorting By City</b></label>
        <select name="StorageSortingByCity">
            <option value="0" selected>ChooseCity</option>
            <option value="1">Shumen</option>
            <option value="2">Varna</option>
            <option value="3">Sofia</option>
            <option value="4">Canada</option>
        </select>
  
</form><br>

<h1>All Components</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-info">
      <th scope="col">No:</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">BuyedTime</th>
      <th scope="col">Insignificant</th>
      <th scope="col">PlaceInStorage</th>
      <th scope="col">City</th>
      <th scope="col">Comment</th>
      <th scope="col">Picture</th>
      <th scope="col">Modification</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Components)
  {
    countComponents++;
         <tr>
        <th scope="row">@countComponents</th>
        <td>@item.Name</td>
        <td>@item.Designation</td>
        <td>@item.Quantity</td>
        <td>@item.Price</td>
        <td>@item.BuyedTime</td>
        <td>@item.Insignificant</td>
        <td>@item.PlaceInStorage</td>
        <td>@item.City</td>
        <td>@item.Comment</td>
        <td>
            <a href="~/Images/@item.Picture">
                <img src="~/Images/@item.Picture" width="80" height="80">
            </a>
        </td>
            <td>
                
            <a asp-controller="Storage" asp-action="ShowAllInvoiceComponents" asp-route-id="@item.Id">
               Details
            </a><br>
@*
            <form asp-action="DeleteComponent" asp-route-id="@item.Id">*@
                <a asp-controller="Storage" asp-action="DeleteComponent" asp-route-id="@item.Id">Delete</a>
                <br>
             @*   <span id="deleteSpan_@item.Id">
                    <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', true)">Delete</a>
                </span>*@

@*                <span id="confirmDeleteSpan_@item.Id" style="display:none">
                    <button href="javascript:void(0)" onclick="confirmDelete('@item.Id', false)">No</button>
                    <span><b>Are you sure you want to delete this?</b></span>
                    <button type="submit">Yes</button>
                </span>*@
           @* </form>*@

            <a asp-controller="Storage" asp-action="EditComponent" asp-route-id="@item.Id">
                Edit
            </a><br>
                <a asp-action="AddInvoiceToComponent" asp-route-id="@item.Id">
                    Add Invoice
                </a>
            </td>
      </tr>
  }
  </tbody>

</table>

      
<h1>All Ware</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-info">
      <th scope="col">No:</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Quantity</th>
      <th scope="col">TimeActiveAndHowOld</th>
      <th scope="col">ActiveOrOld</th>
      <th scope="col">Insignificant</th>
      <th scope="col">PlaceInStorage</th>
      <th scope="col">City</th>
      <th scope="col">Comment</th>
      <th scope="col">Picture</th>
      <th scope="col">Modification</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Ware)
  {
      countWare++;
      <tr>
        <th scope="row">@countWare</th>
        <td>@item.Name</td>
        <td>@item.Designation</td>
        <td>@item.Quantity</td>
        <td>@item.TimeActiveAndHowOld</td>
        <td>@item.ActiveOrOld</td>
        <td>@item.Insignificant</td>
        <td>@item.PlaceInStorage</td>
        <td>@item.City</td>
        <td>@item.Comment</td>
        <td>
            <a href="~/Images/@item.Picture">
                <img src="~/Images/@item.Picture" width="80" height="80">
            </a>
        </td>
         <td>    
            <a asp-controller="Storage" asp-action="ShowAllInvoiceWares" asp-route-id="@item.Id">Details</a><br>

            <form asp-action="DeleteWare" asp-route-id="@item.Id">

                <span id="confirmDeleteSpan_@item.Id" style="display:none">
                    <span><b>Are you sure you want to delete this?</b></span>
                    <button type="submit">Yes</button>
                    <button href="javascript:void(0)" onclick="confirmDelete('@item.Id', false)">No</button>
                </span>

                <span id="deleteSpan_@item.Id">
                    <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', true)">Delete</a>
                </span>

            </form>

            <a asp-controller="Storage" asp-action="EditWare" asp-route-id="@item.Id">
                 Edit
            </a><br>
            <a asp-action="AddInvoiceToWare" asp-route-id="@item.Id">
                 Add Invoice
            </a>

        </td>
      </tr>
  }
  </tbody>
</table>



<h1>Bought</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="bg-info">
            <th class="col">No:</th>
            <th class="col">Name</th>
            <th class="col">Designation</th>
            <th class="col">Quantity</th>
            <th class="col">Bought</th>
            <th class="col">BoughtFrom</th>
            <th class="col">TimeBought</th>
            <th class="col">Insignificant</th>
            <th class="col">PlaceInStorage</th>
            <th class="col">City</th>
            <th class="col">Picture</th>
            <th scope="col">Modification</th>

        </tr>
    </thead>
    <tbody>
        @foreach (ShowAllBoughtToolsViewModel item in Model.Bought)
        {
            countBought++;
            <tr>
                <th scope="row">@countBought</th>
                <td>@item.Name</td>
                <td>@item.Designation</td>
                <td>@item.Quantity</td>
                <td>@item.Bought</td>
                <td>@item.BoughtFrom</td>
                <td>@item.TimeBought</td>
                <td>@item.Insignificant</td>
                <td>@item.PlaceInStorage</td>
                <td>@item.City</td>
                <td>
                <a href="~/Images/@item.Picture">
                    <img src="~/Images/@item.Picture" width="80" height="80">
                </a>
                </td>
                 <td>
                    <a asp-controller="Storage" asp-action="ShowAllInvoiceToolBought" asp-route-id="@item.Id">
                        Details
                    </a><br>

                    <form asp-action="DeleteBoughtTool" asp-route-id="@item.Id">

                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span><b>Are you sure you want to delete this?</b></span>
                            <button type="submit">Yes</button>
                            <button href="javascript:void(0)" onclick="confirmDelete('@item.Id', false)">No</button>
                        </span>

                        <span id="deleteSpan_@item.Id">
                            <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>

                    </form>

                    <a asp-controller="Storage" asp-action="EditToolBought" asp-route-id="@item.Id">Edit</a><br>
                    <a asp-action="AddInvoiceToToolBought" asp-route-id="@item.Id">
                        Add Invoice
                    </a>
                 </td>
            </tr>
        }
    </tbody>
</table>

<h1>Created</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="bg-info">
            <th class="col">No:</th>
            <th class="col">Name</th>
            <th class="col">Designation</th>
            <th class="col">Quantity</th>
            <th class="col">Created</th>
            <th class="col">CreatedFrom</th>
            <th class="col">TimeWhenCreated</th>
            <th class="col">Insignificant</th>
            <th class="col">PlaceInStorage</th>
            <th class="col">City</th>
            <th class="col">Comment</th>
            <th class="col">Picture</th>
            <th scope="col">Modification</th>

        </tr>
    </thead>
    <tbody>
        @foreach (ShowAllCreatedToolsViewModel item in Model.Created)
        {
            countCreated++;
            <tr>
                <th scope="row">@countCreated</th>
                <td>@item.Name</td>
                <td>@item.Designation</td>
                <td>@item.Quantity</td>
                <td>@item.Created</td>
                <td>@item.CreatedFrom</td>
                <td>@item.TimeWhenCreated</td>
                <td>@item.Insignificant</td>
                <td>@item.PlaceInStorage</td>
                <td>@item.City</td>
                <td>@item.Comment</td>
                <td>
                    <a href="~/Images/@item.Picture">
                        <img src="~/Images/@item.Picture" width="80" height="80">
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteCreatedTool" asp-route-id="@item.Id">

                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span><b>Are you sure you want to delete this?</b></span>
                            <button type="submit">Yes</button>
                            <button href="javascript:void(0)" onclick="confirmDelete('@item.Id', false)">No</button>
                        </span>

                        <span id="deleteSpan_@item.Id">
                            <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>

                    </form>

                    <a asp-controller="Storage" asp-action="EditToolCreated" asp-route-id="@item.Id">
                        Edit
                    </a><br>
                 </td>
            </tr>
        }
    </tbody>
</table>

<h1>All Materials</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-info">
      <th scope="col">No:</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">TimeInInko</th>
      <th scope="col">Insignificant</th>
      <th scope="col">PlaceInStorage</th>
      <th scope="col">City</th>
      <th scope="col">Comment</th>
      <th scope="col">Picture</th>
    <th scope="col">Modification</th>

    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model.Materials)
  {
      countMaterials++;
      <tr>
        <th scope="row">@countMaterials</th>
        <td>@item.Name</td>
        <td>@item.Designation</td>
        <td>@item.Quаntity</td>
        <td>@item.Price</td>
        <td>@item.TimeInInko</td>
        <td>@item.Insignificant</td>
        <td>@item.PlaceInStorage</td>
        <td>@item.City</td>
        <td>@item.Comment</td>
        <td>
            <a href="~/Images/@item.Picture">
                <img src="~/Images/@item.Picture" width="80" height="80">
            </a>
        </td>
         <td>
                <a asp-controller="Storage" asp-action="ShowAllInvoiceMaterials" asp-route-id="@item.Id">
                    Details
                </a><br>

                <form asp-action="DeleteMaterial" asp-route-id="@item.Id">

                    <span id="confirmDeleteSpan_@item.Id" style="display:none">
                        <span><b>Are you sure you want to delete this?</b></span>
                        <button type="submit">Yes</button>
                        <button href="javascript:void(0)" onclick="confirmDelete('@item.Id', false)">No</button>
                    </span>

                    <span id="deleteSpan_@item.Id">
                        <a href="javascript:void(0)" onclick="confirmDelete('@item.Id', true)">Delete</a>
                    </span>

                </form>

                <a asp-controller="Storage" asp-action="EditMaterial" asp-route-id="@item.Id">
                    Edit
                </a><br>
                <a asp-action="AddInvoiceToMaterial" asp-route-id="@item.Id">
                    Add Invoice
                </a>
            </td>
      </tr>
  }
</tbody>