@model IEnumerable<ShowAllOrdersViewModel>

@{
    ViewData["Title"] = "Show All Orders";

    int count = 0;
}

<h1 style="text-align: center;">All Orders</h1><br><br>

<form asp-controller="Storage" asp-action="ShowAllMaterials" style="text-align: right">
    <p>
        <b>Search by Name:</b> <input type="text" name="search"/>
        <input type="submit" value="Search" />
   </p>
</form><br>


<table class="table table-hover">
  <thead>
    <tr class="bg-info">
      <th scope="col">No:</th>
      <th scope="col">ProviderName</th>
      <th scope="col">Identifire</th>
      <th scope="col">OrderDescription</th>
      <th scope="col">Quantity</th>
      <th scope="col">URL</th>
      <th scope="col">OrderDate</th>
      <th scope="col">HowManyProductsOrderedByPosition</th>
      <th scope="col">Arrived</th>
      <th scope="col">Price</th>
      <th scope="col">ArrivedQuantityAndProductsFromOrder</th>
      <th scope="col">Status</th>
      <th scope="col">ChangeStatusChangeDatetime</th>
      <th scope="col">Modification</th>
     
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
      count++;
      <tr>
        <th scope="row">@count</th>
        <td>@item.Identifier</td>
        <td>@item.ProviderName</td>
        <td>@item.OrderDescription</td>
        <td>@item.Quantity</td>
        <td>@item.URL</td>
        <td>@item.OrderedDate</td>
        <td>@item.HowManyProductsOrderedByPosition</td>
        <td>@item.Arrived</td>
        <td>@item.Price</td>
        <td>@item.ArrivedQuantityAndProductsFromOrder</td>
        <td>@item.Status</td>
        <td>@item.ChangeStatusChangeDatetime</td>
        <td>
            <a href="">Details</a><br>
            <a asp-controller="Storage" asp-action="DeleteProvidersOrder" asp-route-id="@item.Id">Delete</a><br>
            <a href="">Edit</a>
        </td>

        @*<td>*@
        @*<td>
            <a href="~/Images/@item.Picture">
                <img src="~/Images/@item.Picture" width="80" height="80">
            </a>
        </td>*@
      </tr>
  }
  </tbody>

</table>