@model ICollection<ShowAllComponentsViewModel>

@{
    ViewData["Title"] = "View All Components";

    int count = 0;
}

<h1>All Components</h1>

<table class="table table-hover">
  <thead>
    <tr class="bg-info">
      <th scope="col">No:</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">BuyedTime</th>
      <th scope="col">Insignificant</th>
      <th scope="col">PlaceInStorageAndCity</th>
      <th scope="col">Comment</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
      count++;
      <tr>
        <th scope="row">@count</th>
        <td>@item.Name</td>
        <td>@item.Quantity</td>
        <td>@item.Price</td>
        <td>@item.BuyedTime</td>
        <td>@item.Insignificant</td>
        <td>@item.PlaceInStorageAndCity</td>
        <td>@item.Comment</td>
        <td>
            <a href="~/Images/@item.Picture">
                <img src="~/Images/@item.Picture" width="80" height="80">
            </a>
        </td>
      </tr>
  }
  </tbody>

</table>