@model IEnumerable<ShowAllOrdersViewModel>

@{
    ViewData["Title"] = "Show All Orders";

    int count = 0;
}

<h1 style="text-align: center;">All Orders</h1><br><br>

<form asp-controller="Storage" asp-action="ShowAllMaterials" style="text-align: right">
    <p>
        <b>Search by Name:</b> <input type="text" name="search"/>
        <input type="submit" value="Search" />
   </p>
</form><br>


<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-info">
      <th scope="col">No:</th>
      <th scope="col">ProviderName</th>
      <th scope="col">Identifire</th>
      <th scope="col">OrderDescription</th>
      <th scope="col">Quantity</th>
      <th scope="col">URL</th>
      <th scope="col">OrderDate</th>
      <th scope="col">HowManyProductsOrderedByPosition</th>
      <th scope="col">Arrived</th>
      <th scope="col">Price</th>
      <th scope="col">ArrivedQuantityAndProductsFromOrder</th>
      <th scope="col">Status</th>
      <th scope="col">ChangeStatusChangeDatetime</th>
      <th scope="col">Modification</th>
     
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
      count++;
      <tr>
        <th scope="row">@count</th>
        <td>@item.ProviderName</td>
        <td><b>@item.Identifier</b></td>
        <td>@item.OrderDescription</td>
        <td><b>@item.Quantity</b></td>
        <td><a href="@item.URL">ClickToSeeLinkDetailsHere</a></td>
        <td><b>@item.OrderedDate</b></td>
        <td>@item.HowManyProductsOrderedByPosition</td>
        <td><b>@item.Arrived</b></td>
        <td>@item.Price</td>
        <td><b>@item.ArrivedQuantityAndProductsFromOrder</b></td>
        <td>@item.Status</td>
        <td><b>@item.ChangeStatusChangeDatetime</b></td>
        <td>         
            <a asp-controller="Storage" asp-action="ShowAllInvoiceMaterials" asp-route-id="@item.Id">
                <button class="btn btn-info">Details</button>
            </a><br>

            <form asp-action="DeleteMaterial" asp-route-id="@item.Id">

                <span id="confirmDeleteSpan_@item.Id" style="display:none">
                    <span><b>Are you sure you want to delete this?</b></span>
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a href="javascript:void(0)" class="btn btn-primary" onclick="confirmDelete('@item.Id', false)">No</a>
                </span>

                <span id="deleteSpan_@item.Id">
                    <a href="javascript:void(0)" class="btn btn-danger" onclick="confirmDelete('@item.Id', true)">Delete</a>
                </span>

            </form>

            <a asp-controller="Storage" asp-action="EditProviderOrder" asp-route-id="@item.Id">
                <button class="btn btn-primary">Edit</button>
            </a>
            <br>
        </td>
      </tr>
  }
  </tbody>

</table>